.daojiu_01{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 50px transparent;
}
.daojiu_02{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 60px transparent;
}
.daojiu_03{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 70px transparent;
}
.daojiu_04{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 80px transparent;
}
.daojiu_05{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 90px transparent;
}
.daojiu_06{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 100px transparent;
}