.daojiu_01{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 50% transparent;
}
.daojiu_02{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 60% transparent;
}
.daojiu_03{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 70% transparent;
}
.daojiu_04{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 80% transparent;
}
.daojiu_05{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 90% transparent;
}
.daojiu_06{
    background: url("../img/pour/01_daojiu_shu_00000.jpg") no-repeat scroll 0 100% transparent;
}