.pager {
  background-color: #FFF;
  position: absolute;
  height: 100%;
  width: 100%
}
.start{
    position: absolute;
    height: 85%;
    width: 85%;
    left: 7%;

    background-image: 
    url("../img/pour/ClinkTotal.jpg");
    background-repeat:no-repeat;
    background-position: 0px;
    background-size: 9900% 100%; /* x的值需取胶卷的照片个数x100%，eg.胶卷中的照片数为10，就是1000％ */
    overflow:hidden;
}
.card{
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: 
    url("../img/C_background.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.cardTest{
    position: absolute;
    height: 100%;
    width: 100%;
}