html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: black;
    height: 100%;
    width: 100%;
}

#b-rotation-masker {
    background-image: url(../img/infocard/b-rotate-bg.jpg);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size:100% 100%;
}

#b-rotation-note {
    position: absolute;
    width: 100%;
    top: 86%;
}

#b-rotation-note img {
    width: 16%;
}


#b-main-content {
    /*opacity: 0;*/
    /*display: none;*/

    background-image: url(../img/infocard/info-bg.jpg);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size:cover;
    height: 90%;
}

#b-info-card-container {
    background-color: black;
    border: 3px solid #bbb897;

    height: 80%;
    width: 80%;

    margin-top: 5%;
    margin-left: 10%;

    border-radius: 30px;

    margin-bottom: 5%;
}

#b-infocard-logo {
    margin-top: 5%;
    width: 22%;
}

#b-infocard-text {
    margin-top: 4%;
    margin-left: 5%;
    width: 50%;
}

#b-input-container {

}

#b-input-container ul {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.inputcontainer {
    /*float: left;*/
    /*margin-left: 10%;*/
}

    
.inputcontainer img {
    float: left;
    margin-top: 6%;
    width: 30%;
}

.inputcontainer input {
    float: left;
    font-size: 0.9em;
    background: transparent;
    border: 0;
    color: #bbb897;
    width: 60%;

    border-bottom: 1px solid #bbb897;

    padding: 0;
    margin: 0;
    margin-top: 4%;
    padding-left: 3%;
    padding-bottom: 2px;
}

.inputcontainer input:focus {
    background-color: transparent;
}

#b-input-container button {
    float: right;
    margin-right: 5%;
    background: transparent;

    border-radius: 0.8em;
    border: 1px solid #bbb897;
    color: #bbb897;
}

#b-input-container button:hover {
    color: black;
    background-color: #bbb897;
}

#b-swipe-container {

}

#b-swipe-container img {
    width: 80%;
}

#map-content {
    position: absolute;

    display: none;
    opacity: 0;

    top: 0;

    height: 100%;
    width: 100%;

    background-image: url(../img/map/map-bg.jpg);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size:cover;
}

#map-content-container {
    padding-top: 8%;
    height: 100%;
    width: 100%;
    background-image: url(../img/map/map-bg-masker.png);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size: cover;
}

#map-text-container {
    height: 90%;
    width: 100%;
    background-image: url(../img/map/map-text.png);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size: contain;
    
}

#map-logo {
    margin-top: -3%;
    width: 7%;
}

#map-pointer {
    margin-top: 1%;
    width: 4%;
}











